.previewItemContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.itemTitle {
	font-size: 1.2rem;
	font-weight: 600;
}

.itemContent {
	font-size: 1rem;
}

.itemAnswer {	
	font-size: 1rem;
}
