.previewItemContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.itemHeading {
	font-size: 1rem;
}

.itemContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 1.3rem;
}

.itemAnswer {	
	font-size: 1rem;
}
